/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #000428, #000428);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
